/*  your css code here. If applicable */
.box{
	margin: auto;
	display: flex;
    align-items: center;
    justify-content: center;
   background-color: aqua;
    width: 25vw;
    height: 60vh;
    text-align: center;
	
}
.btn{
	border-radius:20px ;
	 background-color: brown;
	color:white
}